/* Intestazione */
.intestazione{
    background-image: url('img/pattern.png');
    background-color: rgb(0, 132, 255);
    background-repeat: repeat-x;  
}

.intestazione img{
    
}
/* Fine Intestazione */

/* Contenuto centrale sito */
.editore{
    font-size: 15px;
    color: rgb(128, 128, 128);
}

.nome-editore{
    color: rgb(0, 132, 255);
}

.data{
    font-size: 10px;
}

.fonti{
    font-size: 10px;
}

.evidenziatore{
    background-color: rgb(255, 230, 0);
}


.head-tabella{
    background-color: rgb(0, 132, 255);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.background-blue{
    background-color: rgba(0, 183, 255, 0.5);
}

/* Fine Contenuto centrale sito */

.title-footer{
    color: #ccc;
    font-weight: bold;
}

.title-footer{
    color: rgb(128, 128, 128);
    font-weight: bold;
}

.immagine-footer-uno{
    margin: 0px;
    background-image: url('img/monitor.jpg');
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 250px;
    height: 250px;
}

/* .immagine-footer-uno h3{
    margin: 10px;
}

.immagine-footer-due{
    margin: 0px;
    background-image: url('img/graph.jpg');
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 250px;
    height: 250px;
}

.immagine-footer-due h3{
    margin: 10px;
} */

.immagine-footer h3{
    color: #FFFFFF;
    font-weight: bold;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
}

.primo-titolo{
    background-image: url('img/monitor.jpg');
}

.secondo-titolo{
    background-image: url('img/graph.jpg');
}