*{
    margin:0;
    box sizing: border box;
    }


main{
    margin: 20px;
    width: 80%;
}

/* Intestazione */
.intestazione{
    background-image: url('img/pattern.png');
    background-color: rgb(0, 132, 255);
    background-size: 30%;  
    height: 100px;  
}

.logo{
    height:50px;
    margin-top: 40px; 
}

/* Fine Intestazione */


/* Contenuto centrale sito */

/* Div editore e data */
.editore{
    font-size: 18px;
    color: rgb(128, 128, 128);
}

.nome-editore{
    color: rgb(0, 132, 255);
}

.data{
    font-size: 12px;
    margin-bottom: 20px;
}
/* Fine Div editore e data */

/* Fonti */
.fonti{
    font-size: 10px;
    margin-bottom: 20px;
}

.evidenziatore{
    background-color: rgb(255, 230, 0);
}
/* Fine Fonti */

/* Paragrafo */
.testo{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Fine Paragrafo */

/* Elenco non ordinato */
.elenco-non-ordinato{
    margin-bottom: 20px;
}
/* Fine Elenco non ordinato */

/* Tabella */
table{
    border-collapse: collapse;
}

.head-tabella{
    background-color: rgb(0, 132, 255);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    width: 10%;
}

.background-blue{
    background-color: rgba(0, 183, 255, 0.5);
}
/* Tabella */

/* Fine Contenuto centrale sito */


/* Footer */
footer{
    margin: 20px;
    width: 80%;
}

.title-footer{
    color: rgb(139, 139, 139);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
}

/* .container{
    position: relative;
    width: 100%;
}

.text-left{
    position: absolute;
    font-weight: bold;
    color:#FFFF;       
    top: 10px;
    left: 10px;
    width: 100%;
} */

.image{
    width: 208px;
    height: 160px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

#image-monitor{
    background-image: url('img/monitor.jpg');
}

#image-graph{
    background-image: url('img/graph.jpg');
}


/* Fine Footer */